<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-compitable" content="IE-edge">
<meta name="viewport" content="width=device-width,intial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="coding-section">
    <h3 class="coding-title">CODING COURSES</h3>
      <div class="coding-cards">
        <div class="cpp-card">
            <img src="img/cpp.png" class="cpp-img">
            <p class="cpp-description"> Fundamental of programming by c++</p>
            <p class="cpp-price">100 $</p>
            <P class="hours">23 hours</P>
            <a href="#" class="cpp-button">subscripe</a>
        </div>
        <div class=" Front-end-card">
            <img src="img/Front-end.png" class=" Front-end-img">
            <p class=" Front-end-description"> Front-end </p>
            
            <p class=" Front-end-price"> 150 $ </p>
            <P class="hours">40 hours</P>
            <a href="#" class=" Front-end-button">subscripe</a>
        </div>

        
      </div>
</div>


</body>
</html>