<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-compitable" content="IE-edge">
<meta name="viewport" content="width=device-width,intial-scale=1.0">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="graphic-section">
    <h3 class="graphic-title">graphic design courses</h3>
      <div class="graphic-cards">
        <div class="ps-card">
            <img src="img/ps.jfif" class="ps-img">
            <p class="ps-description">photoshop</p>
            <p class="ps-price">50 $</p>
            <P class="hours">9 hours</P>
            <a href="#" class="ps-button">subscripe</a>
        </div>
        <div class=" After-effect-card">
            <img src="img/Ae.jfif" class=" After-effect-img">
            <p class=" After-effect-description"> After-effect</p>
            
            <p class=" After-effect-price"> 80 $ </p>
            <P class="hours">11 hours</P>
            <a href="#" class=" After-effect-button">subscripe</a>
        </div>

        
      </div>
</div>


</body>
</html>